<div class="box">
<table>
	<tr>
		<td>Mood</td>
		<td>Quotes</td>
	</tr>
	<% @quotes.each do |quote| %>
	<tr>
		<td><%=quote.feeling_id%></td>
		<td><%=quote.body%></td>
		<td class="changes"><%=link_to "edit quote", edit_quote_path(quote.id)%></td>
		<td class="changes"><%=link_to "Delete quote", quote, method: :delete%></td>
	</tr>
	<% end %>
</table>
</div>